body {
  margin:0;
}
.page-container {
  display: flex;
  flex-wrap: wrap;
  margin:0;
  box-sizing:border-box;
  flex-direction: column;
}
@media (min-width: 800px) {
 .page-container {
  flex-direction: row;
  } 
}
.left-page-item {
  width:100%;
  padding:6.22% 3.7% 5.7% 4.9%;
  box-sizing:border-box;
}
@media (min-width: 800px) {
 .left-page-item {
  width:42%;
  } 
}
.rigth-page-item {
  width:100%;
  box-sizing:border-box;
  padding:6.22% 4.77% 5.7% 2.4%;
}
@media (min-width: 800px) {
 .rigth-page-item {
  width:58%;
  } 
}
img {
  width:5.96vw;
  height:5,96vw;
}